* {
	font-family: sans-serif;
}

body {
	font: 8pt black;
	background-color:#c01;
}

h1 {
	font-size: 240%;
	color: white;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size:160%;
	margin: 0.4em 0 0.3em 0;
}

#content {
	z-index:2;
	background:transparent;
	position:relative;
	padding:0;
}

.error {
	position:absolute;
	display:none;
	z-index:999;
	background:red;
	color:white;
	padding:1em;
	box-shadow: 5px 5px 30px -4px black;
	border:1px solid black;
	border-radius:0.5em;
	max-width:20em;
}

.calendar {
	z-index:10;
}

#bgcontainer {
	max-width: 80em;
	margin: 1em auto 1em auto;
	overflow: auto;
	border: 1px black solid;
	padding: 1em;
	border-radius: 7px;
	box-shadow: 5px 5px 30px -4px black;
	position:relative;
	background-color:white;
}

#background {
	background:transparent url(/images/moerderlogo.png) no-repeat center -1em;
	background-size: 80% auto;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	/* These three lines are for transparency in all browsers. */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	opacity:.05;
}

div.box {
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 5px 5px 10px -4px red;
	background-color: #c01;
	color: white;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	display:inline-table;
}
div.box.white {
	background-color:#f6f6f6;
	color:black;
}
div.box.white > h3:first-child {
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 5px 5px 10px -4px red;
	background-color: #c01;
	color: white;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	display:inline-table;
}

div.box td, div.box th {
	color:white;
}

div.box.white td, div.box.white th {
	color:black;
}

div.box.collapsed {
	z-index:10;
}

div.box.collapsed > * {
	position:absolute;
	display:none;
}

div.box.collapsed > :first-child {
	display:block;
	position:static;
}

div.box.collapsed:hover > * {
	display:block;
	background-color:white;
	border-radius:7px;
	border:1px solid black;
	right:0.3em;
	left:0.5em;
	margin-top:-1em;
}

div.half {
	width:43%;
}
div.full {
	width:100%;
}
div.full > h3 {
	width:100%;
}

div.third {
	width:30%;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

.clear {
	clear:both;
}
.left.clear {
	clear:left;
}
.right.clear {
	clear:right;
}

#listplayers {
	clear:both;
}

#listplayers table {
	width: 100%;
	padding: 2em 0;
	border-spacing: 0em;
}

#listplayers table th, #listplayers table td {
	padding: 0.4em 1em;
	box-shadow: 0.1em 0.2em 0.3em -0.1em gray;
}

#listplayers table td.buttons {
	white-space: nowrap;
	padding: 0.4em 0.4em;
}

#listplayers table tr > :first-child {
	border-radius: 0.8em 0 0 0.8em;
}

#listplayers table tr > :last-child {
	border-radius: 0 0.8em 0.8em 0;
}

#listplayers table tr td {
	background-color:rgba(255, 248, 240, 0.6);
	z-index:2;
}

#listplayers table tr:nth-child(4n+1) td {
	background-color:rgba(255, 224, 192, 0.6);
}

#listplayers table tr:hover td {
	background-color:rgba(255, 224, 192, 1.0);
	box-shadow: 0.3em 0.3em 1em 0.3em gray;
	z-index:5;
}

#listplayers table tr td.buttons button {
	opacity:0.3;
}

#listplayers table tr:hover td.buttons button {
	opacity:1.0;
}

#listplayers table th {
	text-align: left;
	background-color: #fca;
}

table td.centered {
	text-align:center;
}

dl {
	display: block;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	white-space: pre-line;
}

dt {
	display: inline-block;
	margin: 0.5em 0;
	color: black;
	border-radius: 1em 0 0 1em;
	background-color: lightGrey;
	width: auto;
	text-align: right;
	padding: 0.2em 0.5em 0.2em 0.7em;
	box-shadow: 0.5em 0.5em 1em 0 grey;
	opacity: 0.7;
}

dd {
	display: inline-block;
	margin: 0 2em 0 0;
	border-radius: 0 1em 1em 0;
	background-color: #C01;
	padding: 0.2em 0.7em 0.2em 0.5em;
	box-shadow: 0.5em 0.5em 1em 0 #f33;
	opacity: 0.9;
	font-weight: bold;
	color: white;
}

.box a:link, .box a:visited {
	color:white;
}

ul {
	padding-left: 2.7em;
}

li+li {
	margin-top:0.2em;
}

table {
	font-size: 8pt;
}

th {
	text-align:right;
	padding-top:1ex;
	vertical-align:top;
}

#listplayers td > input,
#listplayers td > select,
#listplayers td > button,
#listplayers td > input[type="submit"] 
{
	padding: 0.1em 0.4em;
}

td > input, 
td > select, 
td > button, 
td > input[type="submit"] 
{
	border:1px solid grey;
	background:#fca;
	margin:0;
	padding: 0.4em 0.8em;
	border-radius: 0.8em;
	vertical-align:middle;
	font-size:8pt;
	border-radius: 0.8em;
}

td > input:focus,
td > select:focus,
td > button:focus,
td > input[type="submit"]:focus 
td > button:hover,
td > input[type="submit"]:hover 
{
	border:1px solid grey;
	background-color:#fdc;
}

td > button:active,
td > input[type="submit"]:active 
{
	border:1px solid black;
	background-color:#fff;
}

.id_display, .code, .url {
	display: inline-block;
	margin: 0;
	border-radius: 1em;
	background-color: #c01;
	padding: 0.2em 1em 0.2em 1em;
	box-shadow: 0.2em 0.2em 0.5em 0 #f33;
	opacity: 0.9;
	font-weight:bold;
	color:white;
}

.circle {
	display: inline-block;
	margin: 0;
	border-radius: 1em;
	padding: 0.2em 1em 0.2em 1em;
	box-shadow: 0.2em 0.2em 0.5em -0.2em #f99;
	color:black;
}
.box .id_display, .box .code, .box .url {
	background-color: #f33;
	box-shadow: 0.2em 0.2em 0.5em 0 #933;
}
.url a, dd a {
	color:white;
}

div.bigimage {
	width: 97%;
	height: 50em;
	overflow: auto;
	border: 1px solid black;
	text-align: center;
	box-shadow: -2px -2px 12px #000 inset;
	padding: 10px;
	z-index: 10;
}

span.deaths {
	width:0;
	height:9px;
	background:url(/images/dead.png) repeat-x;
	display:block;
	opacity:0.4;
}
span.kills {
	width:0;
	height:9px;
	background:url(/images/target.png) repeat-x;
	display:block;
	opacity:0.6;
}

input + .hint, select + .hint {
	display:none;
	margin-top:0.5ex;
	padding-bottom:1ex;
}

input:focus + .hint, select:focus + .hint {
	display:block;
}

ul.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tabs > li {
	border-radius: 0.4em 0.4em 0 0;
	display: inline-block;
	padding: 1em 1em 0.5em 1em;
	background-color: lightgray;
	margin: 0 -0.3em 0 0;
	box-shadow: 2px 2px 8px gray;
}

ul.tabs > li > a {
	text-decoration: none;
}