RewriteEngine On
RewriteRule ^$ /moerderspiel/ [R=302,L]
RewriteRule ^moerderspiel$ /moerderspiel/ [R=302,L]
RewriteRule ^([a-z0-9\.\-]+)$ /moerderspiel/view?id=$1 [R=302]

AddHandler mod_python .py
PythonHandler mod_python.publisher
PythonDebug On 

