<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
    <div id="inner-content">
	<h2>Spiel: ${game.name}</h2>
	<div id="makeakill" class="box half right" py:if="game.status == 'RUNNING' or game.status =='OVER'">
		<h3>Erfolgreichen Mord eintragen!</h3>
		<form action="admin" method="post" onsubmit="return ajaxsubmit(this);" accept-charset="utf8">
			<input type="hidden" name="id" value="${game.id}"/>
			<input type="hidden" name="mastercode" value="${game.mastercode}"/>
			<input type="hidden" name="action" value="killplayer"/>
			<table>
				<tr>
					<th>Kreis</th>
					<td>
						<select name="round">
							<py:for each="round in sorted(game.rounds)">
								<option value="${round}">Kreis: ${game.rounds[round].name}</option>
							</py:for>
						</select>
					</td>
				</tr><tr>
					<th>Mörder</th>
					<td>
						<select name="killer">
							<option value="">!!! Game Master !!1elf!</option>
							<py:for each="player in sorted(game.players, key=lambda p: p.name + p.info)">
								<option value="${player.public_id}">${player.name} (${player.info})</option>
							</py:for>
						</select>
					</td>
				</tr><tr>
					<th>Opfer</th>
					<td>
						<select name="victim">
							<option value="ERROR">-- Bitte auswählen --</option>
							<py:for each="player in sorted(game.players, key=lambda p: p.name + p.info)">
								<option value="${player.public_id}">${player.name} (${player.info})</option>
							</py:for>
						</select>
					</td>
				</tr><tr>
					<th>Datum</th>
					<td>
						<input id="killdate" type="text" name="datum"/><input type="button" id="f_trigger_b" value="..."/>
					</td>
				</tr><tr>
					<th>Tathergang</th>
					<td><input type="text" name="reason" size="40"/></td>
				</tr><tr>
					<th>&nbsp;</th>
					<td><input type="submit" value="Auftrag erledigt!"/></td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
		if( calbox ) {
			calbox.destroy()
		}
		var calbox = Calendar.setup({
		    inputField     :    "killdate",      // id of the input field
		    ifFormat       :    "%d.%m.%Y %H:%M",       // format of the input field
		    showsTime      :    true,            // will display a time selector
			timeFormat     :    24,
		    button         :    "f_trigger_b",   // trigger for the calendar (button ID)
		    singleClick    :    false,           // double-click mode
			firstDay       :    1,
		    step           :    1                // show all years in drop-down boxes (instead of every other year as default)
		    });
		</script>
	</div>
	<div id="gameinfo" class="left half">
		<dl>
			<dt>Status</dt><dd>${game.status}</dd>
			<dt>ID</dt><dd>${game.id}</dd>
			<dt>Kreise</dt><dd>${len(game.rounds)}</dd>
			<dt>Spieler</dt><dd>${len(game.players)}</dd>
			<py:if test="game.status == 'RUNNING'">
				<dt>Aufträge</dt><dd><a href="pdfget?id=${game.id}&amp;mastercode=${game.mastercode}">PDF</a></dd>
			</py:if>
			<dt>Massenmörder</dt><dd>${game.getMassMurdererString()}</dd>
		</dl>
	</div>
	<div id="gamestart" class="box right half clear" py:if="game.status == 'OPEN'">
		<h3>Spiel starten</h3>
		<p>Dies beendet die Registrierungsphase, generiert die Aufträge und startet das Spiel. Danach können keine weiteren Mitspieler einsteigen.</p>
		<form action="startgame" method="post" accept-charset="utf8" onsubmit="showloadinganimation(this); this.style.display='none';">
			<input type="hidden" name="gameid" value="${game.id}"/>
			<table>
				<tr>
					<th>Game Master Code:</th>
					<td><input type="password" name="mastercode" size="7"/></td>
					<td><input type="submit" value="Spiel starten!"/></td>
				</tr>
			</table>
		</form>
		<p>Die Generierung der PDFs kann mehrere Minuten dauern. Bitte habe Geduld!</p>
	</div>
	<div id="gamestop" class="box right half clear" py:if="game.status == 'RUNNING'">
		<h3>Spiel abschließen</h3>
		<p>Dies beendet das Spiel. Danach können keine weiteren Morde nachgetragen werden.</p>
		<form action="endgame" method="post" accept-charset="utf8">
			<input type="hidden" name="gameid" value="${game.id}"/>
			<table><tr><th>Game Master Code:</th><td>
			<input type="password" name="mastercode" size="7"/>
			</td><td>
			<input type="submit" value="Spiel beenden!"/>
			</td></tr></table>
		</form>
	</div>
	<div id="addplayer" class="box right half" py:if="game.status == 'OPEN'">
		<h3>Spieler hinzufügen</h3>
		<form action="admin" method="post" accept-charset="utf8" onsubmit="return ajaxsubmit(this);">
			<input type="hidden" name="id" value="${game.id}"/>
			<input type="hidden" name="mastercode" value="${game.mastercode}"/>
			<input type="hidden" name="action" value="addplayer"/>
			<table>
				<tr>
					<th>Name:</th>
					<td>
						<input type="text" name="spielername" size="20"/>
						<p class="hint">
						Der Name, an dem die anderen Spieler
						diesen Spieler erkennen können. Wenn ihr Namensschilder
						tragt, musst du den Namen von deinem Namensschild nehmen.
						</p>
					</td>
				</tr>
				<tr>
					<th>Gruppe:</th>
					<td>
						<input type="text" name="zusatzinfo" size="20"/>
						<p class="hint">
						Der Spielleiter sollte in seiner Einladung zum Spiel geschrieben haben, was
						hier eintragen werden soll.<br/>
						Kein Spieler wird einen anderen Spieler aus der gleichen Gruppe als erstes 
						Opfer erhalten (sofern möglich). Eine Gruppe von Spielern, die sich bereits kennen, sollen hier also
						den gleichen Gruppennamen eintragen. <em>Das heißt nicht, dass sie ein Team bilden!</em>
						<br/>Ist dies egal, kann das Feld beliebig genutzt werden, bspw. Nachname, Spitzname,
						Adresse, Heimatstadt, Eigenschaften, oder einfach gar nichts. In jedem Fall wird es auf den Aufträgen vermerkt.
						</p>
					</td>
				</tr>
				<tr>
					<th>Email-Adresse:</th>
					<td>
						<input type="text" name="email" size="20"/>
						<p class="hint">
						Am besten gibst du hier eine Email-Adresse an, die der Spieler vom Smartphone aus problemlos abrufen kann.
						An diese Adresse werden die Aufträge geschickt -- kein anderer Spieler darf also Zugriff auf diese Mails haben!
						</p>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="Spieler eintragen!"/></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="blankpdfget" class="box right half clear collapsed" py:if="game.status == 'OPEN'">
		<h3>Blankoaufträge</h3>
		<p>Wenn am Spielort kein Drucker vorhanden ist, kann man diese Blankozettel mit zum Spielort nehmen und das Spiel komplett oder teilweise offline durchführen. Optional kann man nach dem Spiel alle Morde eintragen und den Spielern eine schöne Statistik im Nachhinein bieten. (TODO: Die Auftragszuordnungen müssen noch vom Server gemacht werden; der Game Master braucht also vor Spielbeginn kurz Internetzugang, um die Namen einzutragen und das Spiel zu starten.)</p>
		<form action="pdfget" method="post" accept-charset="utf-8">
			<input type="hidden" name="id" value="${game.id}"/>
			<input type="hidden" name="mastercode" value="${game.mastercode}"/>
			<table>
				<tr>
					<th>Voraussichtliche Spielerzahl:</th>
					<td><input type="text" name="count" size="4"/></td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="Blankozettel generieren!"/></td>
				</tr>
			</table>
		</form>
	</div>

	<div id="listplayers">
		<py:if test="game.status == 'OPEN'">
			<h3>Liste der Mitspieler</h3>
			<table>
				<py:for each="player in sorted(game.players, key=lambda l:l.info + l.name)">
					<tr>
						<td>${player.name}</td>
						<td>${player.info}</td>
						<td class="buttons">
							<button onclick="return askajax('admin', {'id':'${game.id}', 'mastercode':'${game.mastercode}', 'action':'removeplayer', 'victim':'${player.public_id}' }, this, 'Spieler ${player.html()} wirklich wieder aus dem Spiel rausschmeißen?');">
								kick
							</button>
						</td>
					</tr>
				</py:for>
			</table>
		</py:if>
		<py:for each="round in sorted(game.rounds)" py:if="game.status == 'RUNNING' or game.status == 'OVER'">
			<h3 py:if="len(game.rounds) > 1">Kreis: ${game.rounds[round].name}</h3>
			<table>
				<tr><th>Name</th><th/><th>Auftragscode</th><th>Ermordet von</th><th>Wann?</th><th>Tathergang</th><th></th></tr>
				<py:for each="p in game.rounds[round].participants">
					<tr>
						<td>${p.player}</td>
						<td class="buttons">
							<button onclick="return askajax('admin', {'id':'${game.id}', 'mastercode':'${game.mastercode}', 'action':'kickplayer', 'victim':'${p.player.public_id}' }, this, 'Spieler ${p.player.html()} wirklich aus allen Runden rausschmeißen?');">
								kick
							</button>
						</td>
						<td>${p.id}</td>
						<td><py:if test="p.killedby and p.killedby.killer">${p.killedby.killer.player}</py:if><py:if test="p.killedby and not p.killedby.killer">Game Master</py:if></td>
						<td><py:if test="p.killedby">${p.killedby.date}</py:if></td>
						<td><py:if test="p.killedby">${p.killedby.reason}</py:if></td>
						<td class="buttons">
							<py:if test="p.killedby">
								<button onclick="return ajax('admin', {'id':'${game.id}', 'mastercode':'${game.mastercode}', 'action':'editkill', 'victim':'${p.id}' }, this);">
									edit
								</button>
							</py:if>
							<py:if test="p.canRevert()">
								<button onclick="return askajax('admin', {'id':'${game.id}', 'mastercode':'${game.mastercode}', 'action':'revertkill', 'victim':'${p.id}', 'round': '${round}' }, this, 'Mord wirklich rückgängig machen?');">
									undo
								</button>
							</py:if>
						</td>
					</tr>
				</py:for>
			</table>
			<div style="width:96%; height:300px; overflow:auto; border:1px solid black; text-align:center;">
				<img src="gamegraph?id=${game.id}&amp;roundid=${round}&amp;mastercode=${game.mastercode}" />
			</div>
		</py:for>
	</div>
	</div>
</div>
