<div>
	<h2>Das Mörderspiel wurde eröffnet!</h2>
	<div class="box half left nocollapse">
		<h3>Infos für alle</h3>
		<p>Diese Informationen müssen an alle potentiellen Mitspieler verbreitet werden. Es ist Aufgabe des Game Masters, dies zu tun. Auf welchem Wege auch immer.</p>
		<p><strong>ID dieser Runde</strong>: <span class="id_display">$gameid</span></p>
		<p><strong>Direkte URL dieser Runde</strong>: <span class="url"><a href="$url">$url</a></span></p>
		<p>Bei der Verbreitung dieser Informationen sollte erwähnt werden, was unter "Gruppe" bei der Anmeldung eingetragen werden soll. Kein Spieler wird einen anderen Spieler aus der gleichen Gruppe als erstes Opfer erhalten (sofern möglich). Eine Gruppe von Spielern, die sich bereits kennen, sollen hier also den gleichen Gruppennamen eintragen. <em>Das heißt nicht, dass sie ein Team bilden!</em> Ist dies egal, kann das Feld beliebig genutzt werden, bspw. Nachname, Spitzname, Adresse, Heimatstadt, Eigenschaften, oder einfach gar nichts. In jedem Fall wird es auf den Aufträgen vermerkt.</p>
		<p>Diese Runde ist nun offen zur Registrierung. Jeder, der die ID oder die direkte URL zu dieser Runde kennt, kann sich für dieses Spiel eintragen.</p>
	</div>
	<div class="box half right nocollapse">
		<h3>Infos für den Game Master</h3>
		<p>Du bist der Game Master. Du kannst leider nicht mitspielen und musst Streitfälle schlichten. Aber du weißt, wer wen umbringen muss und kannst das Spiel amüsiert beobachten.</p>
		<p>Dies ist dein <strong>Game Master Code:</strong> <span class="code">$mastercode</span></p>
		<p>Merke dir den Game Master Code und halte ihn vor den anderen Spielern geheim. Du wirst ihn benötigen, um das Spiel zu starten und die Spielerlisten einzusehen.</p>
		<p>Wollt ihr ein Spiel online durchführen, sind dies deine nächsten Aufgaben:
			<ol>
				<li>Den potentiellen Spielern die Spiel-ID/URL mitteilen, so dass sie sich anmelden können (oder diese selbst alle eintragen).</li>
				<li>Sind alle angemeldet: Das Spiel starten (siehe Spiel-URL).</li>
				<li>Optional: Gehe auf die Admin-Seite, drucke das PDF mit den Aufträgen aus, schneide es und verteile es an die Spieler. Da die Spieler ihre Aufträge auch als Email erhalten, können die es auch selbst tun. Oder ihr macht es komplett per Email (dann aber sollten alle Spieler ein Smartphone mit Internetzugang besitzen!)</li>
				<li>Zum Ende des Spiels: Das Spiel per Hand beenden! (du als Game Master weißt am besten, wann alle kurz-vor-Spielende-Morde eingetragen sind).</li>
			</ol>
		</p>
		<p>Wollt ihr ein Spiel offline durchführen (d.h. kein Drucker und nur Internet für den Game Master am Spielort), sind dies deine nächsten Aufgaben:
			<ol>
				<li>Vorher: Gehe auf die Spiel-URL und lasse dir Blankoaufträge generieren. Drucke diese aus und verteile sie unter den Spielern.</li>
				<li>Hast du die Anmeldungen wieder eingesammelt, suche dir kurz einen Internetzugang und trage alle Spieler ein. Starte das Spiel.</li>
				<li>Gehe auf die Admin-Seite und lade dir das PDF mit den Aufträgen. Übertrage die Namen auf den Aufträgen auf die Anmeldezettel und verteile die Aufträge.</li>
				<li>Bereite eine Wand vor, wo die Spieler ihre erledigten Aufträge eintragen können.</li>
				<li>Optional: Wenn du wieder Internet hast, kannst du die Morde von der Wand eintragen und so den Spielern das Ergebnis online präsentieren.</li>
			</ol>
		</p>
	</div>
</div>
