<div>
	<h2>Das Mörderspiel wurde eröffnet!</h2>
	<div class="box half left">
		<h3>Infos für alle:</h3>
		<p>Diese Informationen müssen an alle potentiellen Mitspieler verbreitet werden. Es ist Aufgabe des Game Masters, dies zu tun. Auf welchem Wege auch immer.</p>
		<p><strong>ID dieser Runde</strong>: <span class="id_display">$gameid</span></p>
		<p><strong>Direkte URL dieser Runde</strong>: <span class="url"><a href="$url">$url</a></span></p>
		<p>Diese Runde ist nun offen zur Registrierung. Jeder, der die ID oder die direkte URL zu dieser Runde kennt, kann sich für dieses Spiel eintragen.</p>
	</div>
	<div class="box half right">
		<h3>Infos für den Game Master</h3>
		<p>Du bist der Game Master. Du kannst leider nicht mitspielen und musst Streitfälle schlichten. Aber du weißt, wer wen umbringen muss und kannst das Spiel amüsiert beobachten.</p>
		<p>Dies ist dein <strong>Game Master Code:</strong> <span class="code">$mastercode</span></p>
		<p>Merke dir den Game Master Code und halte ihn vor den anderen Spielern geheim. Du wirst ihn benötigen, um das Spiel zu starten und die Spielerlisten einzusehen.</p>
	</div>
</div>
