<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en" class="no-js">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<meta id="baseurl" name="X-baseurl" content="${baseurl}"/>
<link rel="stylesheet" type="text/css" media="all" href="css/main" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/jquery.viewport.js"></script>
<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date-de-DE.js"></script>
<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/src/time.js"></script>
<script type="text/javascript" src="/canvasdateclockpicker.js"></script>
<script type="text/javascript" src="/ajax.js"></script>
<script type="text/javascript" src="/ui.js"></script>

<title>Mörderspiel</title>
</head>
<body>
	<h1>Das Mörderspiel</h1>
	<div id="bgcontainer">
		<div class="error" id="errormessage">${errormsg}</div>
		<div id="content">${content}</div>
		<div id="background"></div>
	</div>
</body>
</html>
