<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
<head>
<meta id="baseurl" name="X-baseurl" content="${baseurl}"/>
<link rel="stylesheet" type="text/css" media="all" href="css?css=main" />
<script type="text/javascript" src="/ajax.js"/>
<script type="text/javascript" src="/ui.js"/>
<link rel="stylesheet" type="text/css" media="all" href="/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
<script type="text/javascript" src="/jscalendar-1.0/calendar.js"></script>
<script type="text/javascript" src="/jscalendar-1.0/lang/calendar-de.js"></script>
<script type="text/javascript" src="/jscalendar-1.0/calendar-setup.js"></script>
<title>Mörderspiel</title>
</head>
<body>
	<h1>Das Mörderspiel</h1>
	<div id="bgcontainer">
		<div class="error" id="errormessage">${errormsg}</div>
		<div id="content">${content}</div>
		<div id="background"></div>
	</div>
</body>
</html>
