<div action="creategame" method="post" accept-charset="utf8" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
<h2>Verteilung der Opfer</h2>
<p>Jeder bekommt einen (oder mehr) Mordaufträge ganz
geheim vom Spielleiter zugeteilt. Kein Mitspieler darf von der
Verteilung mehr wissen als seine nächsten Opfer! Das bedeutet
außerdem, dass ihr auch anderen nichts davon erzählen solltet...</p>
<p>Damit hat jeder Mitspieler soviele Leben wie
Aufträge und damit Opfer, aber auch eben so viele Mörder auf den
Fersen... anders gesagt, das Spiel findet in einem oder mehreren
voneinander unabhängigen „Kreisen“ statt.</p>
<h2>Markierung der Mitspieler 
</h2>
<p>Meist bewegt man sich in Umgebungen, wo man nicht
allein ist. Um die Umwelt also nicht zu sehr zu stören, haben die
Mitspieler einen Namensschild sichtbar am Körper, auf dem pro
Auftrag ein Aufkleberchen prangt. 
</p>
<p><b>Generell gilt:</b> <i>Wer die Markierung nicht
sichtbar bei sich trägt, kann nicht morden, aber ermordet werden!</i>
</p>
<p>
Falls jemand auf die Idee kommt, Namensschilder zu tauschen:
<ul>
<li>Aufträge sind ans Namensschild gebunden. Nur wer das Namensschild
sichtbar bei sich trägt, kann die zugehörigen Aufträge ausführen.</li>
<li>Umgekehrt kann jeder ermordet werden, der das Namensschild je hatte und
hat.</li>
</ul>

</p>
<h2>Das Spiel geht los 
</h2>
<p>Sobald die Ausgabe der Mordopfer begonnen hat,
geht das Spiel los. Jeder Mitspieler muss versuchen, „seine“
Opfer durch Übergabe eines beliebigen Gegenstandes zu ermorden (es
kann vorkommen, dass man in mehreren Kreisen zu einem Zeitpunkt das
selbe Opfer hat – dann muss man halt mehrmals morden). Dabei darf
es natürlich keine lebenden Zeugen geben. 
</p>
<p><b>Definition:</b> <i>Als „lebend“ gilt jeder
Mitspieler, der noch nicht ermordet wurde. Außenstehende und der
Spielleiter sind für die Zwecke des Spiels generell als &quot;tot&quot;
zu betrachten.</i> 
</p>
<h2>Morden</h2>
<p>Das Morden geschieht, indem man dem Opfer einen
Gegenstand gibt und dieser ihn annimmt. Zuwerfen gilt nicht. Jemanden
zwingen, den Gegenstand zu nehmen, ebenfalls nicht. Wenn das Opfer
allerdings z.B. einen Bleistift mit dem Mund hinter dem Ohr seines
Mörders hervorholt, gilt dies als Mord! Die Idee ist, einen
beliebigen Gegenstand völlig beiläufig einem Gegner anzubieten --
und wenn der ihn annimmt, hat er Pech. Wenn natürlich ein Opfer
seinem Mörder etwas aus der Hand reißt, ist das schon als
Selbstmord zu werten (und mit entsprechendem Kommentar in der
Mordliste einzutragen). Natürlich muss der Mörder dann auch
realisieren, dass das Opfer sich soeben selbst umgebracht hat, keine
Zeugen etwas gesehen haben und dann auch „Du bist tot“ sagen&nbsp;;-)
</p>
<p>Es gab in der Vergangenheit eine Menge
„Regelfickereien“ damit. Prinzipiell sollten Opfer und Mörder
sich auf eine „Übergabe“ oder „Übernahme“ einigen können. 
</p>
<p><i>Der Mörder muss dem Opfer sofort sagen, dass
es gerade ermordet wurde, damit eventuelle Zeugen bezeugen können,
den Mord gesehen und bemerkt zu haben.</i> 
</p>
<h2>Zeugen 
</h2>
<p>Morde haben ohne Zeugen zu geschehen. Hier ist
aber nur Zeuge, wer 
</p>
<ul>
        <li><p>im Sinne des
        Spiels „lebt“, d.h. seine Markierung sichtbar trägt 
        </p></li>
        <li><p>und die Übergabe bemerkt hat („Ich hab
        gesehen, wie du ihm den Bleistift gegeben hast“)</p></li>
</ul>
<p>Nach einem Mord sollte das Opfer also mögliche
Zeugen befragen, ob jemand etwas gesehen und bemerkt hat (hat der
Zeuge im Moment der Übergabe weggeguckt, ist er kein Zeuge). Hat ein
Zeuge also etwas bemerkt, gilt der Mord als schiefgelaufen -- das
Opfer lebt weiter, kennt aber nun seinen Mörder. Das macht das Spiel
natürlich etwas schwieriger für den Mörder.</p>
<p><i>Es ist unerheblich, in welchem Kreis ein Zeuge
noch lebt. Solang ein Mitspieler noch mindestens ein Leben hat, kann
er in allen Kreisen als Zeuge gelten!</i></p>
<h2>Nach dem Mord 
</h2>
<p>Der Mörder muss dem Opfer auch noch den Kreis
nennen, in dem es gestorben ist (siehe Auftrag). <i>Das Opfer
verliert nun ein Leben und </i><i>über</i><i>gibt den Mordauftrag
aus dem passenden Kreis an den Mörder</i>. So kann der Mörder
weiterspielen, das Opfer ist raus und legt ggf. die Markierung ab.
<i>Das bedeutet insbesondere, dass jeder Mitspieler den Mordauftrag
immer bei sich tragen muss!</i> (Dieser Absatz gilt nur, wenn der
Spielleiter Aufträge auf Papier ausgeteilt hat oder jeder Mitspieler
die per Email erhaltenen Aufträge für sich ausdruckt.)</p>
<p>Der Mörder muss dann noch die Todesursache,
gemeinsam mit der Mordzeit und dem Mörder, in die öffentlich
einsehbare Mörderliste eintragen (Adresse siehe Auftrag; mit dem
Signaturcode „unterschreibt“ der Mörder den Auftrag gegenüber
dem Spielsystem). Hierbei sind Umdichtungen der Realität durchaus
erwünscht.</p>
<p>Hat das Opfer noch Leben übrig, geht das Spiel in
den verbleibenden Kreisen weiter. Sind alle Leben verloren (also wenn
alle Mordaufträge abgegeben werden mussten), ist das Spiel für das
Opfer vorbei und es legt alle Markierungen ab. Sollte der nicht ganz
zu vermeidende Fall auftreten, dass ein Mörder in mehreren Kreisen
das selbe Opfer hat, muss dieses eben mehrfach umgebracht werden...
(z.B. erst umbringen und dann den Auftrag zum Beweis übergeben
*evilgrin*).</p>
<h2>Mordfreie Zonen</h2>
<p>Es ist in der Realität sinnvoll, gewisse
Mordfreie Zonen zu erklären. Einige sollten vielleicht von
vornherein festgelegt werden. Auch haben die Mitspieler immer die
Möglichkeit, eine Mordfreie Zone zu vereinbaren (dazu gehören immer
alle gerade anwesenden Mitspieler). Es ist darauf zu achten,
hinzukommende Mitspieler unmissverständlich darauf hinzuweisen,
ansonsten gilt die Mordfreie Zone nicht für hinzukommende
Mitspieler!</p>
<p>Man sollte es nur nicht übertreiben. Gut wäre
es, wirklich nur dann eine Mordfreie Zone zu erklären, wenn eine
Aktivität oder die Umwelt durch das Mörderspiel deutlich
beeinträchtigt wird. 
</p>
<h2>Verlust des Auftrags und Vorzeitige Abreise</h2>
<p>Der Spielleiter kann verlorengegangene
Auftragszettel ersetzen oder im Falle eines Mordes dem Opfer
gegenüber einen Auftrag bestätigen. Dies stellt aber einen gewissen
Aufwand dar ... bitte achtet daher darauf, eure Mordaufträge immer
bei euch zu tragen (und sei es auf dem Smartphone)!</p>
<p>Bei vorzeitigem Ausstieg wird darum gebeten, nicht
erledigte Aufträge dem Spielleiter zukommen zu lassen bzw. ihm
einfach Bescheid zu geben. Dieser sorgt dann dafür, dass die Kreise
wieder geschlossen werden, indem er sich als Game Master ins
Spielsystem einloggt und den entsprechenden Spieler kickt.</p>
<h2>Ende des Spiels 
</h2>
<p>Auf jedem Auftrag steht der Zeitpunkt für das
Spielende. Der Spielleiter schließt die Mordliste (muss er per Hand
machen, sobald er sicher ist, dass alle Morde eingetragen wurden) und
veröffentlicht damit die vollständige Mörder-Opfer-Zuordnung. Wer
nun am meisten Morde getätigt hat, ist der Massenmörder.</p>

</div> 
