<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
    <div id="inner-content">
	<div id="gameinfo" class="left half">
		<h2>Spiel: ${game.name}</h2>
		<dl>
			<dt>Status</dt><dd>${game.status}</dd>
			<dt>ID</dt><dd>${game.id}</dd>
			<dt>Twitter</dt><dd><a href="https://twitter.com/search?q=%23${game.id}">#${game.id}</a></dd>
			<dt>Wall</dt><dd><a href="/wall/${game.id}">${game.id}</a></dd>
			<py:if test="len(game.rounds) > 1"><dt>Kreise</dt><dd>${len(game.rounds)}</dd></py:if>
			<dt>Spieler</dt><dd>${len(game.players)}</dd>
			<dt>Morde</dt><dd>${len(list(game.getKilled()))}</dd>
			<py:if test="game.status != 'OPEN'"><dt>Massenmörder</dt><dd>${game.getMassMurdererString()}</dd></py:if>
			<py:if test="game.status != 'OPEN' and len(game.rounds) > 1"><dt>nach Punkten</dt><dd>${game.getHighScoreString()}</dd></py:if>
		</dl>
	</div>
	<div id="makeakill" class="box right half alwayscollapse" py:if="game.status == 'RUNNING'">
		<h3>Erfolgreichen Mord melden!</h3>
		<p>Wenn ihr nicht komplett online spielt, solltest du zu diesem Zeitpunkt bereits einen neuen
		Auftrag von deinem Opfer bekommen haben. Und zwar genau den
		Auftrag aus dem gleichen Kreis, in dem du dein Opfer gerade
		erledigt hast (siehe Auftragszettel).</p>
		<form action="killplayer" method="post" name="killplayer" onsubmit="return ajaxsubmit(this);" accept-charset="utf8">
			<input type="hidden" name="gameid" value="${game.id}"/>
			<table>
				<tr>
					<th>Signaturcode</th>
					<td>
						<input type="text" name="victimid" size="8"/>
						<p class="hint">
						Auf dem soeben ausgeführten Auftrag steht ein Signaturcode, 
						den du hier eingeben musst, um den erfolgreichen Mord zu bestätigen.
						</p>
					</td>
				</tr><tr>
					<th>Mörder</th>
					<td>
						<select name="killerpublicid">
							<py:for each="player in sorted(game.players, key=lambda p: p.name + p.info)">
								<option	value="${player.public_id}">${player}</option>
							</py:for>
						</select>
						<p class="hint">
						Wer hat hier erfolgreich gemordet?
						</p>
					</td>
				</tr><tr>
					<th>Datum</th>
					<td>
						<input id="killdate" type="text" name="datum" value="${utils.now()}"/>
						<input type="button" id="canvasdateclocktrigger" value="..."/>
						<p class="hint">
						Wann ist der Mord geschehen?
						</p>
					</td>
				</tr><tr>
					<th>Tathergang</th>
					<td>
						<input type="text" name="reason" size="40"/>
						<p class="hint">
						Wie ist der Mord geschehen? Eine kurze Umdichtung der Realität ist hier erwünscht.
						</p>
					</td>
				</tr><tr>
					<th>&nbsp;</th>
					<td><input type="submit" value="Auftrag erledigt!"/></td>
				</tr>
			</table>
			<script type="text/javascript">
			$(document).ready(function() {
				$('#canvasdateclocktrigger').click(function() {
					canvasdateclockpicker({
						clockcanvasid: "#clockcanvas",
						datecanvasid: "#datecanvas",
						inputfield: '#killdate',
						notbefore: Date.today().add({days:-1}),
						notafter: Date.today()
					});
				});
			});
			</script>
		</form>
	</div>
	<div id="addplayer" class="box right half clear" py:if="game.status == 'OPEN'">
		<h3>Zum Spiel anmelden</h3>
		<form action="addplayer" method="post" onsubmit="ajaxsubmit(this); return false;" accept-charset="utf8">
			<input type="hidden" name="gameid" value="${game.id}"/>
			<table>
				<tr>
					<th>Name:</th>
					<td>
						<input type="text" name="spielername" size="20"/>
						<p class="hint">
						Dein Name, an dem die anderen Spieler dich erkennen können. Wenn ihr Namensschilder
						tragt, musst du den Namen von deinem Namensschild nehmen.
						</p>
					</td>
				</tr>
				<tr py:if="game.id.find('kif') > -1 or game.id.find('koma') > -1">
					<th>Hochschule:</th>
					<td>
						<input type="text" name="zusatzinfo" size="20"/>
						<p class="hint">
						Kein Spieler wird einen anderen Spieler von einer gleich geschriebenen Hochschule als erstes 
						Opfer erhalten (sofern möglich). <em>Das heißt nicht, dass sie ein Team bilden!</em>
						</p>
					</td>
				</tr>
				<tr py:if="game.id.find('kif') == -1 and game.id.find('koma') == -1">
					<th>Gruppe:</th>
					<td>
						<input type="text" name="zusatzinfo" size="20"/>
						<p class="hint">
						Der Spielleiter sollte in seiner Einladung zum Spiel geschrieben haben, was
						ihr hier eintragen sollt.<br/>
						Kein Spieler wird einen anderen Spieler aus der gleichen Gruppe als erstes 
						Opfer erhalten (sofern möglich). Eine Gruppe von Spielern, die sich bereits kennen, sollen hier also
						den gleichen Gruppennamen eintragen. <em>Das heißt nicht, dass sie ein Team bilden!</em>
						<br/>Ist dies egal, kann das Feld beliebig genutzt werden, bspw. Nachname, Spitzname,
						Adresse, Heimatstadt, Eigenschaften, oder einfach gar nichts. In jedem Fall wird es auf den Aufträgen vermerkt.
						</p>
					</td>
				</tr>
				<tr>
					<th>Email-Adresse:</th>
					<td>
						<input type="text" name="email" size="20"/>
						<p class="hint">
						Am besten gibst du hier eine Email-Adresse an, die du vom Smartphone aus problemlos abrufen kannst.
						An diese Adresse werden deine Aufträge geschickt -- kein anderer Spieler darf also Zugriff auf diese Mails haben!
						</p>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="Spieler eintragen!"/></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="goadmin" class="box right half clear alwayscollapse">
		<h3>Spiel administrieren</h3>
		<form action="admin" method="post" accept-charset="utf8">
			<input type="hidden" name="id" value="${game.id}"/>
			<table>
				<tr>
					<th>Game Master Code:</th>
					<td><input type="password" name="mastercode" size="7"/></td>
					<td><input type="submit" value="Go Game Master!"/></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="gamestart" class="box right half clear" py:if="game.status == 'OPEN'">
		<h3>Spiel starten</h3>
		<p>Dies beendet die Registrierungsphase, generiert die Aufträge und startet das Spiel. Danach können keine weiteren Mitspieler einsteigen.</p>
		<form action="startgame" method="post" accept-charset="utf8" onsubmit="showloadinganimation(this); this.style.display='none';">
			<input type="hidden" name="gameid" value="${game.id}"/>
			<table>
				<tr>
					<th>Game Master Code:</th>
					<td><input type="password" name="mastercode" size="7"/></td>
					<td><input type="submit" value="Spiel starten!"/></td>
				</tr>
			</table>
		</form>
		<p>Die Generierung der PDFs kann mehrere Minuten dauern. Bitte habe Geduld!</p>
	</div>
	<div id="rules" class="box right half clear">
		<h3><a href="../documents/moerderspielregeln.pdf">Regeln</a> (PDF)</h3>
	</div>
	<div id="listplayers">
		<py:if test="game.status == 'OPEN'">
			<h3>Liste der Mitspieler</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>Gruppe</th>
				</tr>
				<py:for each="player in game.players">
					<tr><td>${player.name}</td><td>${player.info}</td></tr>
				</py:for>
			</table>
		</py:if>
		<py:if test="game.status == 'RUNNING'">
			<h3>Morde</h3>
			<table>
				<tr><th>Name</th><th>Ermordet von</th><th py:if="len(game.rounds) > 1">Kreis</th><th>Wann?</th><th>Tathergang</th></tr>
				<?python 
					colors = utils.colorgen(0.86, format='rgba()')
					colorlist = {}
					for round in game.rounds.values():
						colorlist[str(round.name)] = next(colors)
				?>
				<py:for each="p in game.getKilled()">
						<tr py:if="p.killedby and p.killedby.killer">
							<td>${p.player} <span class="deaths" style="width:${game.getDeathsCount(p)*9}px;">&nbsp;</span></td>
							<td><py:if test="p.killedby and p.killedby.killer">${p.killedby.killer.player} <span class="kills" style="width:${game.getKillsCount(p.killedby.killer.player)*9}px;">&nbsp;</span></py:if><py:if test="p.killedby and not p.killedby.killer">Game Master</py:if></td>
							<td py:if="len(game.rounds) > 1" class="centered"><py:if test="p.killedby"><span class="circle" style="background-color:${colorlist[p.round.name]};">${p.round.name}</span></py:if></td>
							<td><py:if test="p.killedby">${utils.dateformat(p.killedby.date, format="%a")}&nbsp;${utils.dateformat(p.killedby.date, format="%d.%m. %H:%M")}</py:if></td>
							<td><py:if test="p.killedby">${p.killedby.reason}</py:if></td>
						</tr>
				</py:for>
			</table>
		</py:if>
		<py:if test="game.status != 'OPEN'">
			<py:if test="len(game.rounds) > 1">
				<ul class="tabs">
					<li><a href="${ utils.url_for('gamegraphall', id=game.id )}" onclick="return imgurl('gamegraph', this);">Alle Kreise</a></li>
					<py:for each="round in sorted(game.rounds.values(), key=lambda k: k.name)">
						<li><a href="${ utils.url_for('gamegraphall', id=game.id, roundid=round.name) }" onclick="return imgurl('gamegraph', this);">Kreis ${round.name}</a></li>
					</py:for>
				</ul>	
			</py:if>
			<div class="bigimage" id="graphimage">
				<img id="gamegraph" src="${ utils.url_for('gamegraphall', id=game.id, roundid=game.rounds.values()[0].name) }" />
			</div>

			<script type="text/javascript">
			// <![CDATA[
			(function() {
				var panzoom = $('#gamegraph').panzoom();
				panzoom.parent().on('mousewheel.focal', function( e ) {
					e.preventDefault();
					var delta = e.delta || e.originalEvent.wheelDelta;
					var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
					panzoom.panzoom('zoom', zoomOut, {
						increment: 0.1,
						animate: false,
						contain: 'invert',
						focal: e
					});
				});
			})();
			//]]>
			</script>

    		</py:if>
	</div>
	</div>
</div>
